/* основной белый цвет #ffffff */
/* вторичный белый цвет #F5F4FA */
/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* основной акцент цвет #2196F3 */
/* цвет ховера основной кнопки #188CE8 */
/* цвет фона героя и подвала #2F303A */
/* цвет текста адреса rgba(255, 255, 255, 0.6) */
/* цвет логотипа #000000 */
/* цвет нижней рамки хедера #ececec */
/* цвет бордера проектов #eeeeee;*/
/* цвет svg изображений #afb1b8;*/

:root {
  --primery-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --prymery-accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --background-color: #2f303a;
  --header-border-color: #ececec;
  --project-border-color: #eeeeee;
  --svg-picture-color: #afb1b8;
}

/*----------- глобальные стили -----------*/
body {
  color: var(--primery-text-color);
  background-color: var(--primery-white-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  font-family: inherit;
  display: inline-block;
  background-color: var(--secondary-white-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------- Сброс стилей -----------*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*----------- Скрытый титул -----------*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*----------- контейнер -----------*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*----------- панель навигации -----------*/
.header {
  border-bottom: 1px solid var(--header-border-color);
  margin-left: auto;
  margin-right: auto;
}

.site-nav__link--current::after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--prymery-accent-color);
  border-radius: 2px;
}

.header__container,
.site-nav,
.site-nav__list {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--prymery-accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header__logo {
  color: var(--logo-color);
}

.site-nav__list {
  margin-left: 93px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link--current {
  color: var(--prymery-accent-color);
  position: relative;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--prymery-accent-color);
}

/*----------- Контакты -----------*/

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primery-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--prymery-accent-color);
}

/*----------- Секция Герой -----------*/

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/imgoverlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}

.hero__title {
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.hero__button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-width: 200px;
  padding: 10px;
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*----------- особенности компании -----------*/

.features__block {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: var(--secondary-white-color);
  border-radius: 4px;
}
.features__list {
  display: flex;
}
.features__item {
  flex-basis: calc(100% / 4);
}
.features__item + .features__item {
  margin-left: 30px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}
/*----------- Чем занимается наша компания -----------*/

.section--padding-top {
  padding-top: 0;
}

.our-works {
  display: flex;
}

.section__title {
  margin-bottom: 50px;
}

.our-works__item + .our-works__item {
  margin-left: 30px;
}

.our-works__thumb {
  position: relative;
}

.our-works__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primery-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
/*----------- Наша команда -----------*/

.section--background {
  background-color: var(--secondary-white-color);
  margin-left: auto;
  margin-right: auto;
}

.our-team {
  display: flex;
}

.our-team__item {
  background-color: var(--primery-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.social {
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--svg-picture-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  fill: var(--primery-white-color);
  background-color: var(--prymery-accent-color);
}

.our-team__item + .our-team__item {
  margin-left: 30px;
}

.our-team__title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
}

.our-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.our-team__position {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.our-team__block {
  padding: 30px 32px;
}

/*----------- Наши клиенты -----------*/

.customers {
  display: flex;
  justify-content: space-between;
}

.customers__item {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
}

.customers__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--svg-picture-color);
  border: 1px solid var(--svg-picture-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
}

.customers__link:hover,
.customers__link:focus {
  border-color: var(--prymery-accent-color);
  fill: var(--prymery-accent-color);
}

/*----------- Фильтр портфолио -----------*/

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.filter__button {
  display: block;
  padding: 6px 22px;
}

.filter__button--current {
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:hover,
.button:focus {
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*----------- Секция портфолио -----------*/

.project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.project__text {
  padding: 20px 24px;
  border: solid var(--project-border-color);
  border-width: 0 1px 1px 1px;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.project__type {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.project__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover,
.project__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*----------- Оверлей -----------*/

.project__thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primery-white-color);
  transform: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  transform: translateY(-100%);
}

/*----------- Подвал сайта -----------*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  padding: 0;
}

.footer__logo--end {
  color: var(--primery-white-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link--geo {
  display: block;
  color: var(--primery-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--address-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover,
.address .link:focus {
  color: var(--prymery-accent-color);
}

.join-us-text {
  margin-bottom: 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.join-us {
  margin-left: 70px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link--footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primery-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--footer:hover,
.social__link--footer:focus {
  background-color: var(--prymery-accent-color);
}

/*----------- Форма футера -----------*/
.footer-form {
  margin-left: auto;
}

.footer-form__input {
  display: block;
  min-width: 358px;
  height: 50px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__wrap {
  display: flex;
}

.footer__icon {
  margin-left: 10px;
}

/*----------- Модальное окно -----------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primery-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__button:hover,
.modal__button:focus {
  fill: var(--prymery-accent-color);
}

/*----------- Формы модального окна -----------*/
.form__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--secondary-text-color);
}

.form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form__field--comment {
  display: block;
  margin-bottom: 20px;
}

.form__field--checkbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 10px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus-within {
  border-color: var(--prymery-accent-color);
  outline-color: var(--prymery-accent-color);
}

.form__input:focus-within + .form__icon {
  fill: var(--prymery-accent-color);
}
.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:focus-within {
  border-color: var(--prymery-accent-color);
  outline-color: var(--prymery-accent-color);
}

.form__icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon--checkbox {
  border: 2px solid var(--secondary-text-color);
  border-radius: 3px;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox:focus-visible + .form__icon--checkbox,
.form__checkbox:hover + .form__icon--checkbox {
  border-color: var(--prymery-accent-color);
}

.form__checkbox:checked + .form__icon--checkbox {
  background-color: var(--prymery-accent-color);
  border-color: var(--prymery-accent-color);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__link {
  color: var(--prymery-accent-color);
  border-bottom: 1px solid var(--prymery-accent-color);
}

.form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
