/* основной белый цвет #ffffff */
/* вторичный белый цвет #F5F4FA */
/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* основной акцент цвет #2196F3 */
/* цвет ховера основной кнопки #188CE8 */
/* цвет фона героя и подвала #2F303A */
/* цвет текста адреса rgba(255, 255, 255, 0.6) */
/* цвет логотипа #000000 */
/* цвет нижней рамки хедера #ececec */
/* цвет бордера проектов #eeeeee;*/
/* цвет svg изображений #afb1b8;*/
:root {
  --primery-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --prymery-accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --background-color: #2f303a;
  --header-border-color: #ececec;
  --project-border-color: #eeeeee;
  --svg-picture-color: #afb1b8;
}
/* Тело */
body {
  color: var(--primery-text-color);
  background-color: var(--primery-white-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
/* Скрытый титул */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* контейнер */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* панель навигации */
.header {
  border-bottom: 1px solid var(--header-border-color);
  margin-left: auto;
  margin-right: auto;
}
.header-container,
.nav,
.site-nav,
.contacts {
  display: flex;
  align-items: center;
}
.nav .logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}
.contacts .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primery-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: var(--primery-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-contakts {
  margin-right: 10px;
  fill: currentColor;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .item + .item {
  margin-left: 50px;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts {
  margin-left: auto;
}
.site-nav {
  margin-left: 93px;
}
/* цвета, размеры текста */
.site-nav .link.current {
  color: var(--prymery-accent-color);
  position: relative;
}
.link.current::after {
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--prymery-accent-color);
  border-radius: 2px;
}
.filter .button.current {
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.logo.link {
  color: var(--prymery-accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo .logo-header {
  color: var(--logo-color);
}
/* Ховер и фокус ссылок */
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.address .link:hover,
.address .link:focus {
  color: var(--prymery-accent-color);
  fill: var(--prymery-accent-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Секция Герой */
.hero.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/imgoverlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.hero.button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-width: 200px;
  padding: 10px;
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
}
.hero.button:hover,
.hero.button:focus {
  background-color: var(--secondary-accent-color);
}
/*особенности компании*/
.features.section,
.our-works.section,
.our-team.section,
.customers.section,
.portfolio.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-works.section {
  padding-top: 0;
}
.features .container {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.features-block {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: var(--secondary-white-color);
  border-radius: 4px;
}
.features.list {
  display: flex;
}
.features .item {
  flex-basis: calc(100% / 4);
}
.features .item + .item {
  margin-left: 30px;
}
.title {
  color: var(--secondary-text-color);
}
.our-works.title,
.customers.title,
.our-team-section.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.features.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features.text {
  font-size: 14px;
  line-height: 1.71;
}
.our-works.list {
  display: flex;
}
.our-works.title {
  margin-bottom: 50px;
}
.our-works .item + .item {
  margin-left: 30px;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Наша команда */
.our-team .list {
  display: flex;
}
.our-team .item {
  background-color: var(--primery-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.list.social {
  justify-content: space-between;
}
.our-team .link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--svg-picture-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team .link:hover,
.our-team .link:focus {
  fill: var(--primery-white-color);
  background-color: var(--prymery-accent-color);
}
.our-team .item + .item {
  margin-left: 30px;
}
.our-team-section.title,
.customers.title {
  margin-bottom: 50px;
}
.our-team.section {
  background-color: var(--secondary-white-color);
  margin-left: auto;
  margin-right: auto;
}
.our-team.title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.position {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.our-team.block {
  padding: 30px 32px;
}
/* Наши клиенты */
.customers.list {
  display: flex;
  justify-content: space-between;
}
.customers.item {
  display: flex;
  width: 170px;
  height: 92px;

  justify-content: center;
  align-items: center;
}
.customers.link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: var(--svg-picture-color);
  border: 1px solid var(--svg-picture-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers.link:hover,
.customers.link:focus {
  border-color: var(--prymery-accent-color);
  fill: var(--prymery-accent-color);
}
/* Фильтр портфолио */
.filter.list {
  justify-content: center;
  margin-bottom: 50px;
}
.filter .item + .item {
  margin-left: 8px;
}
.item .button {
  display: block;
  padding: 6px 22px;
}
.filter.list {
  display: flex;
}
.button {
  font-family: inherit;
  display: inline-block;
  background-color: var(--secondary-white-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Секция портфолио */
.project.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.project .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}
.item-text {
  padding: 20px 24px;
  border: solid var(--project-border-color);
  border-width: 0 1px 1px 1px;
}
.project.title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project.type {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.project .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project .link:hover,
.project .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Оверлей */
.our-works.thumb {
  position: relative;
}
.thumb-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primery-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}
.project-thumb {
  display: block;
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primery-white-color);
  transform: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project .link:hover .project-overlay,
.project .link:focus .project-overlay {
  transform: translateY(-100%);
}
/* Подвал сайта */
.footer .logo {
  display: block;
  margin-bottom: 20px;
}
.footer-list.item:not(:last-child) {
  margin-bottom: 9px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
  margin-left: auto;
  margin-right: auto;
}
.logo .logo-footer {
  color: var(--primery-white-color);
}
.geolocation.link {
  display: inline-block;
  color: var(--primery-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.footer-contacts.link {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--address-text-color);
}
.footer .link {
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join.list {
  display: flex;
}
.item-join {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-text {
  margin-bottom: 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-white-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-join {
  margin-left: 70px;
}
.item-join + .item-join {
  margin-left: 10px;
}
.item-join .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primery-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-join .link:hover,
.item-join .link:focus {
  background-color: var(--prymery-accent-color);
}
/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primery-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal-button:hover,
.modal-button:focus {
  fill: var(--prymery-accent-color);
}

/* Формы модального окна */
.form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--secondary-text-color);
}

.form-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-field-comment {
  display: block;
  margin-bottom: 20px;
}

.form-checkbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 12px 10px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within {
  border-color: var(--prymery-accent-color);
  outline-color: var(--prymery-accent-color);
}

.form-input:focus-within + .form-icon {
  fill: var(--prymery-accent-color);
}
.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
textarea:focus-within {
  border-color: var(--prymery-accent-color);
  outline-color: var(--prymery-accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon-checkbox {
  border: 2px solid var(--secondary-text-color);
  border-radius: 3px;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:focus-visible + .form-icon-checkbox,
.checkbox:hover + .form-icon-checkbox {
  border-color: var(--prymery-accent-color);
}

.checkbox:checked + .form-icon-checkbox {
  background-color: var(--prymery-accent-color);
  border-color: var(--prymery-accent-color);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox .link {
  color: var(--prymery-accent-color);
  border-bottom: 1px solid var(--prymery-accent-color);
}

.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*  Форма футера */
.footer-form {
  margin-left: auto;
}

.footer-form-input {
  display: block;
  min-width: 358px;
  height: 50px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: var(--background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-wrap {
  display: flex;
}

.footer-send {
  margin-left: 10px;
}
